{% extends 'base.html' %}

{% block title %}Validated websites{% endblock %}

{% block content %}
    <h3>Validated websites</h3>
    <table class="table my-4">
        <thead class="thead-light">
            <tr>
                <th class="align-middle" scope="col"></th>
                <th class="align-middle" scope="col">Name</th>
                <th class="align-middle" scope="col">Keywords</th>
                <th class="align-middle" scope="col">URL</th>
            </tr>
        </thead>
        <tbody>
            {% for website in websites %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <th scope="row">{{ website.website_name }}</th>
                    <td>{{ website.keywords }}</td>
                    <td><a href="{{ website.website_url }}" style="word-break: break-all;" data-toggle="tooltip" data-placement="top" title="input: {{ website.original_url }}">{{ website.website_url }}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="btn-toolbar justify-content-start" role="toolbar">
        <div role="group">
            <a class="btn btn-secondary" href="{{ url_for("tasks.details", id=task_id) }}">Back</a>
        </div>
    </div>
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
{% endblock %}